* {
    background-color: antiquewhite;
}

.ontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.tion {
    text-align: left;
    padding: 20px;
    border: 1px solid antiquewhite;
    flex: 1;
}

hr {
    color: pink;
}

.foto {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cenfy {
    text-align: justify;
    text-align: center;
}
