body {
    background-color: #e0ffff;
    font-family: "Teachers", sans-serif;
}

button {
    background-color: skyblue;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

hr {
    color: skyblue;
}

#div {
    width: 50%;
    margin-left: 25%;
    text-align: justify;
    text-align: center;
}

.foto {
    margin-left: 25%;
}

#foto {
    border: 5px solid white;
}

#div1 {
    width: 50%;
    margin-left: 27%;
    text-align: left;
}

#divv {
    width: 50%;
    margin-left: 12%;
    text-align: left;
}

#divvv {
    width: 50%;
    margin-left: 40%;
    text-align: left;
}

.ontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ton {
    display: inline;
    text-align: center;
    margin-left: 30%;

}

.ton1 {
    display: inline;
    text-align: center;
    margin-right: 30%;

}
