* {
    background-color: antiquewhite;
    text-align: center;
}

#tengah {
    text-align: center;
}

img[id = "foto"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a[id="cp"] {
    display: inline-flex;
    margin-left: 50;
    margin-right: 50;
}
